<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="{{MybatisMapperQuatifiedName}}">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="{{MybatisModelQuatifiedName}}">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        age,
        user_name,
        created_at,
        updated_at
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="testModel.id">
        INSERT INTO test_model (
            id,
            age,
            user_name,
            created_at,
            updated_at
        ) VALUES (
            #{testModel.id,jdbcType=INTEGER},
            #{testModel.age,jdbcType=INTEGER},
            #{testModel.userName,jdbcType=VARCHAR},
            #{testModel.createdAt,jdbcType=TIMESTAMP},
            #{testModel.updatedAt,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="testModel.id">
        INSERT INTO test_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="testModel.id!=null"> id,</if>
            <if test="testModel.age!=null"> age,</if>
            <if test="testModel.userName!=null"> user_name,</if>
            <if test="testModel.createdAt!=null"> created_at,</if>
            <if test="testModel.updatedAt!=null"> updated_at,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="testModel.id!=null">#{testModel.id,jdbcType=INTEGER},
            </if>
            <if test="testModel.age!=null">#{testModel.age,jdbcType=INTEGER},
            </if>
            <if test="testModel.userName!=null">#{testModel.userName,jdbcType=VARCHAR},
            </if>
            <if test="testModel.createdAt!=null">#{testModel.createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="testModel.updatedAt!=null">#{testModel.updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO test_model (
        <include refid="Base_Column_List"/>
        )VALUES
        <foreach collection="testModels" item="testModel" index="index" separator=",">
            (
            #{testModel.id,jdbcType=INTEGER},
            #{testModel.age,jdbcType=INTEGER},
            #{testModel.userName,jdbcType=VARCHAR},
            #{testModel.createdAt,jdbcType=TIMESTAMP},
            #{testModel.updatedAt,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE test_model
        <set>
            <if test="testModel.id != null"> id= #{testModel.id,jdbcType=INTEGER},</if>
            <if test="testModel.age != null"> age= #{testModel.age,jdbcType=INTEGER},</if>
            <if test="testModel.userName != null"> user_name= #{testModel.userName,jdbcType=VARCHAR},</if>
            <if test="testModel.createdAt != null"> created_at= #{testModel.createdAt,jdbcType=TIMESTAMP},</if>
            <if test="testModel.updatedAt != null"> updated_at= #{testModel.updatedAt,jdbcType=TIMESTAMP}</if>
        </set>
        WHERE id = #{testModel.id,jdbcType=VARCHAR}
    </update>

    {{#dep_pagehelper}}
    <!--auto generated by codehelper on 2018-07-20 16:18:27-->
    <select id="findByIdGreaterThan" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from test_model
        where id<![CDATA[>]]> #{minId,jdbcType=INTEGER}
    </select>
    {{/dep_pagehelper}}
</mapper>

